body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FFF;
    min-width: 1200px;
}

header {
    position: absolute;
    left: 0;
    right: 0;
    background: rgba(94, 93, 88, 0.6);
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

.header_wrapper {
    width: 100%;
    background: rgba(94, 93, 88, 0.60);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    font-weight: 700;
}

.header_logo_link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo_img {
    background: url("../img/Polygon.png") center/58px no-repeat padding-box;
    font-size: 40px;
    text-transform: uppercase;
    width: 58px;
    margin-right: 6px;
    text-align: center;
    line-height: 67px;
    color: #FFF;
    font-weight: 700;
}

.logo_text_the {
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
}

.logo_text_ham {
    color: #18CFAB;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
}

.header_nav_list {
    display: flex;
    align-items: center;
    gap: 22px;
    text-transform: uppercase;
}

.nav_list_link {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    text-decoration: none;
    transition: .7s;
    position: relative;
}

.nav_list_link::after {
    content: "";
    background: #18CFAB;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -50px;
    left: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.nav_list_link:hover {
    color: #18CFAB;
}

.nav_list_link:hover:after {
    visibility: visible;
}

.search_icon {
     fill: rgba(255, 255, 255, 0.60);
     transition: .7s;
}

.search_icon:hover {
    fill: #18CFAB;
}

/* --- Main_header_section --- */
.main_header_section {
    background: rgba(94, 93, 88, 0.60) url(../img/background/section-1.jpg) left top/cover no-repeat fixed;
    background-blend-mode: screen;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    margin-bottom: 8px;
    padding-top: 379px;
    padding-bottom: 243px;
}

.main_header_title {
    font-size: 35px;
    padding-bottom: 22px;
}

.main_header_title > span {
    color: #18CFAB;
}

.main_header_slogan {
    font-size: 78px;
    padding-bottom: 22px;
}

.main_header_desc {
    color: #D4D4D4;
    font-size: 34px;
    font-weight: 400;
    text-transform: capitalize;
    padding-bottom: 134px;
}

.btn {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    min-height: 63px;
    min-width: 169px;
    padding: 0;
    border-width: 0;
    border-radius: 5px;
    text-transform: uppercase;
    transition: background .3s, transform .3s, box-shadow .3s;
    cursor: pointer;
}

.btn:disabled,
.btn:disabled:hover, 
.btn:disabled:active {
    background-color: rgba(94, 93, 88, 0.6);
    cursor: default;
}

.btn:active {
    position: relative;
    transform: translateY(-5px);
}
  
.explore_btn {
    background-color: #18cfab;
}

.explore_btn:active, 
.explore_btn:hover {
    background-color: #12967c;
}
  
.shadow_btn {
    box-shadow: 0px -5px 0px 0px #fff;
}

.shadow_btn:active {
    box-shadow: none;
}
  
.purchase_btn {
    background-color: #00cbf6;
}

.purchase_btn:active, 
.purchase_btn:hover {
    background-color: #0086a1;
}

.header_section_btn {
    height: 64px;
    width: 169px;
    margin-right: 26px;
}

.header_section_btn:nth-last-child(1) {
    margin-right: 0;
}

/* --- Option_section --- */
.option_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.option_section_item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 25%;
    height: 377px;
}
 
.option_section_item:nth-child(odd) {
    color: #18CFAB;
    background: #1C2A33;
    gap: 48px;
}

.option_section_item:nth-child(even) {
    color: #FFF;
    background: #18CFAB;
    gap: 59px;
}

.option_section_text {
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom: 110px;
}

/* --- Servise_section --- */
.servises_section {
    padding: 83px 0 91px 0;
}

.sections_title {
    color: #4E4E4E;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;  
}

.sections_title:after {
    content: url(../img/services_section/style_line.svg);
    display: block;
    padding-bottom: 100px;
    box-sizing: border-box;
    height: 8px;
}

.services_tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative; 
}  

.service_tab_item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 193px;
    margin-left: -1px;
    background-color: #f8fcfe;
    border: 1px solid #edefef;
    color: #717171;
    text-align: center;
    font-size: 15.986px;
    font-weight: 400;
    line-height: 70px;
    cursor: url(../img/services_section/Cursor.svg) 0 0, default;
    box-sizing: border-box;
    transition: .3s, border .2s;
}

.service_tab_item:hover {
    border: 1.5px solid #18CFAB;
    z-index: 1;
}

.service_tab_item.active {
    color: #FFF;
    background-color: #18CFAB;
    position: relative;
}

.service_tab_item.active::after {
    content: url(../img/services_section/Rectangle.svg);
    position: absolute;
    top: 42px;
    left: 85px;
}

.tabs_content li {
    display: none;
}

.tabs_content .service_content {
    display: flex;
    flex-direction: row;
    padding-top: 27px;
}

.tabs_content img {
    width: 192px;
    height: 139px;
    box-sizing: border-box;
}

.tabs_content p {
    color: #777;
    font-size: 13.645px;
    font-weight: 300;
    line-height: 24.366px;
    padding-left: 16px;
    width: 100%;
    height: 136px;
}

/* --- Purchase_section ---- */
.purchase_section {
    background: rgba(0, 0, 0, 0.8) url(../img/background/section-2.jpg) center/cover no-repeat;
    background-blend-mode: multiply;
    width: 100%;
    height: 476px;
    text-align: center;
}

.purchase_section_title {
    color: #18CFAB;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    padding-top: 127px;
}

.purchase_section_text {
    color: #D8D8D8;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    padding: 12px 0 67px 0;
}

/* --- Work_section --- */
.work_section {
    background: #E9EDEF;
    padding: 96px 0 99px 0;
}

.work_tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative; 
}  

.work_tab_item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -1px;
    background-color: #E9EDEF;
    border: 1px solid #DADADA;
    color: #717171;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 56px;
    padding: 0 15px;
    cursor: url(../img/services_section/Cursor.svg) 0 0, default;
    box-sizing: border-box;
    transition: .5s, border .3s;
}

.work_tab_item:first-child {
    padding: 0 29px;
}

.work_tab_item:hover {
    border: 1.5px solid #18CFAB;
    color: #18CFAB;
    z-index: 1;
}

.work_tab_item.active {
    border: 1.5px solid #18CFAB;
    color: #18CFAB;
    z-index: 1;
}

.work_gallery_list {
    display: flex;
    justify-content:center;
    align-items: flex-end;
    flex-wrap: wrap;
    margin: 70px 0;
    list-style: none;
    cursor: url(../img/services_section/Cursor.svg) 0 0, default;
}

.work_gallery_item {
    position: relative;
    overflow: hidden;
}

.work_gallery_item img {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
}

.work_gallery_item:hover .popup {
    top: 0;
    transform: translateY(0);
}

.popup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-top: 3px solid #18CFAB;
    background-color: #E9EDEF;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    transition: top 1s, transform 1s;
    transform: translateY(100%);
}

.popup_icons {
    display: flex;
    margin: 46px 0 32px 0;
    gap: 8px;
}

.icon_link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #18CFAB;
    border-radius: 25px;
    width: 42px;
    height: 41px;
    cursor: pointer;
    transition: .7s;
}

.icon_link:hover {
    background-color: #18CFAB;
}

.icon_left_links {
    background: url(../img/work_section/icon_left.svg) center / 40% no-repeat;
}

.icon_left_links:hover {
    background-image: url(../img/work_section/icon_left_white.svg);
}

.icon_link > span {
    width: 13px;
    height: 13px;
    border: 1.5px solid #18CFAB;
    background-color: #18cfab;
    display: inline-block;
}

.icon_link:hover > span {
    background-color: #FFF;
    border: none;
    width: 13px;
    height: 13px;
}

.text_up {
    color: #18CFAB;
    font-size: 14.177px;
    font-weight: 700;
    line-height: 25.185px;
    text-transform: uppercase;
}

.text_down {
    color: #8A8A8A;
    font-size: 12.152px;
    font-weight: 300;
    line-height: 25.185px;  
}

.work_btn_loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.work_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background-color: #18CFAB;
    height: 63px;
    width: 168px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 1s;
}

.work_btn span {
    padding-left: 15px;
}
 
.work_btn:hover {
    background-color: #0086a1;
}
  
.loader {
    display: none;
    flex-direction: row;
    text-align: center;
    vertical-align: middle;
    background: inherit;
    position: relative;
}
  
.loader span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #18CFAB;
    border-radius: 50%;
    margin: 0 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
  
.loader span:not(:last-child) {
    animation: animate 1s linear infinite;
}
  
 @keyframes animate {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(25px);
    }
}
  
.loader span:last-child {
    animation: jump 1s ease-in-out infinite;
}
  
@keyframes jump {
    0% {
      transform: translate(0, 0);
    }
    10% {
      transform: translate(10px, -10px);
    }
    20% {
      transform: translate(20px, 10px);
    }
    30% {
      transform: translate(30px, -50px);
    }
    70% {
      transform: translate(-140px, -50px);
    }
    80% {
      transform: translate(-130px, 10px);
    }
    90% {
      transform: translate(-120px, -10px);
    }
    100% {
      transform: translate(-100px, 0);
    }
}

/* --- News_section --- */
.news_section {
    padding: 82px 0 130px 0;
}

.grid_container_news {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 44px;
    column-gap: 35px;
}

.grid_item_post {
    position: relative;
}

.grid_post_link {
    text-decoration: none;
}

.grid_post_link:hover 
.grid_post_caption {
    color: #18CFAB;
}

.grid_post_link:hover
.date_widget {
    background-color: #18CFAB;
}

.grid_post_img {
    display: flex;
    align-items: flex-start;
}

.date_widget {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 68px;
    color: #FFF;
    background-color: #203E38;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    position: absolute;
    right: 0.6px;
    top: 0;
    transition: .7s;
}

.grid_content_box {
    border: 1px solid #F2F4F5;
    background: #F8FCFE;
}

.grid_post_caption {
    display: block;
    color: #717171;
    width: 211px;
    text-align: center;
    font-size: 17.988px;
    font-weight: 700;
    line-height: 38.942px;
    transition: .7s;
}

.grid_post_text {
    color: #777;
    width: 210px;
    text-align: center;
    font-size: 13.991px;
    font-weight: 300;
    line-height: 31.942px;
}

.grid_post_text span {
    padding: 0 8px;
}

/* --- Clients_section --- */
.clients_section {
    background: rgba(0, 0, 0, 0.5) url(../img/background/section-3.jpg) center/cover no-repeat;
    background-blend-mode: multiply;
    width: 100%;
    text-align: center;
    padding: 98px 0;
}

.clients_title {
    color: #FFF;
}

.slider_main {
    margin-top: 37px;
    margin-bottom: 38px;
}

.slider_main 
.slick-list {
    overflow: hidden;
}

.slider_main 
.slick-track {
    display: flex;
}

.slider_main 
.slider_main_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 0;
}

.slider_main_text {
    display: block;
    color: #BBB;
    text-align: center;
    line-height: 1.6;
    font-size: 16px;
    font-weight: 300;
    height: 42px;
}

.slider_main_text_work {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 42px;
    color: #18CFAB;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 38px 0;
}

.slider_main_text_work span {
    color: #BBB;
    font-size: 13px;
    font-weight: 300;
    text-transform: none;
}

.border_around {
    border-radius: 50%;
    border: 13px solid rgba(31, 218, 181, 0.2);
}

.border_around_icon {
    border-radius: 50%;
    border: 6px solid rgba(31, 218, 181, 0.2);
}

.slider {
    max-width: 35%;
    position: relative;
    margin: 0 auto;
}

.slider 
.slider_item {
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.slider 
.slider_item.slick-center {
    position: relative;
    top: -10px;
}

.slider 
.slick-list {
    overflow: hidden;
}

.slider 
.slick-track {
    display: flex;
    padding-top: 12px;
}

.slider 
.slick-arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 2;
    font-size: 0;
    width: 10px;
    margin-top: -8px;
    height: 16px;
    background-color: rgba(0, 0, 0, 0.0001);
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #bbbbbb;
    padding: 15px;
    transition: background-color 0.5s, border 0.5s;
}

.slider 
.slick-arrow.slick-prev {
    left: -40px;
    background: url(../img/clients_section/Preview_arrow.svg) 0 0 no-repeat;
    background-position: center;
}

.slider 
.slick-arrow.slick-next {
    right: -40px;
    background: url(../img/clients_section/Preview_arrow.svg) 0 0 no-repeat;
    transform: rotate(180deg);
    background-position: center;
}

.slider 
.slick-arrow:hover {
    background-color: #18cfab;
    border: #18cfab;
    transition: background-color 0.5s, border 0.5s;
}

/* --- Footer --- */
.copyright {
    background-color: #22353F;
    display: block;
    text-align: center;
    color: #AEAEAE;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px; 
    padding: 48px 0;
}

.copyright a {
    color: #18CFAB;
    text-decoration: none;
    cursor: pointer;
}